@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.my_link a {
  color: rgb(50, 112, 205) !important;
  font-size: 18px;
}
.carousel-item img {
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.404);
  padding-top: 40px;

}
.p-img img{
  height: 300px;
  /* width: 300px !important; */
}